\documentclass[10pt,a4paper]{article}
\usepackage{nexus_bilan}
\setnexusheader{\VAR{ h.level_label } --- DOCUMENT ENSEIGNANT}{Synthèse de correction --- \VAR{ h.student_name }}
\begin{document}

\bilancover{Synthèse enseignant}{\VAR{ h.student_name }}{\VAR{ h.level_label }}{\VAR{ h.subject } --- évaluation de clôture S5}{Document interne --- ne pas diffuser aux familles}

\begin{warningbox}
\VAR{ blocks.cadre }
\end{warningbox}

\sectiontitle{Chiffres}
\begin{center}
\begin{tabularx}{\linewidth}{|X|r|r|r|}
\hline
\rowcolor{SoftBlue} & Obtenu & Disponible & Taux \\ \hline
Score brut au sujet de clôture & \VAR{ a.raw_assessment_score.earned|esc } & \VAR{ a.raw_assessment_score.max|esc } & --- \\ \hline
Consolidation N--1 & \VAR{ a.n_minus_1_consolidation.earned|esc } & \VAR{ a.n_minus_1_consolidation.available|esc } & \VAR{ pct(a.n_minus_1_consolidation.percentage) } \\ \hline
Passerelles vers N & \VAR{ a.bridge_n_readiness.earned|esc } & \VAR{ a.bridge_n_readiness.available|esc } & \VAR{ pct(a.bridge_n_readiness.percentage) } \\ \hline
\end{tabularx}
\end{center}

\sectiontitle{Compétences}
\begin{center}
\begin{longtable}{|p{46mm}|c|c|c|c|p{26mm}|}
\hline
\rowcolor{SoftBlue} Compétence & Scope & Score & Crit. & Preuve & Statut \\ \hline
\endhead
\BLOCK{ for s in a.skills }
\VAR{ s.label|esc } & \VAR{ scope_badge(s.curriculum_scope) } & \VAR{ s.earned|esc }/\VAR{ s.available|esc } & \VAR{ s.criteria|length } & \VAR{ s.evidence_strength|esc } & \VAR{ s.status_label|esc } \\ \hline
\BLOCK{ endfor }
\end{longtable}
\end{center}

\sectiontitle{Détail critère par critère}
\begin{center}
\begin{longtable}{|c|p{50mm}|c|c|p{26mm}|p{22mm}|}
\hline
\rowcolor{SoftBlue} Item & Critère & Score & Scope & Compétence & Erreurs \\ \hline
\endhead
\BLOCK{ for c in a.criteria }
\VAR{ c.item_ref|esc } & \VAR{ c.description|esc } & \BLOCK{ if c.scoring_status == 'NEUTRALISED' }neutralisé\BLOCK{ else }\VAR{ centi(c.score_centi) }/\VAR{ centi(c.max_score_centi) }\BLOCK{ endif } & \VAR{ scope_badge(c.curriculum_scope) } & \VAR{ c.analysis_skill_id|esc } & \BLOCK{ for e in c.error_codes }\VAR{ e|esc }\BLOCK{ if not loop.last }, \BLOCK{ endif }\BLOCK{ endfor } \\ \hline
\BLOCK{ endfor }
\end{longtable}
\end{center}

\sectiontitle{Profil d'erreurs}
\begin{center}
\begin{tabularx}{\linewidth}{|X|r|X|r|}
\hline
\rowcolor{SoftBlue} Acquis N--1 & \# & Passerelles & \# \\ \hline
\BLOCK{ for row in error_rows }
\VAR{ row.n1_code } & \VAR{ row.n1_count } & \VAR{ row.br_code } & \VAR{ row.br_count } \\ \hline
\BLOCK{ endfor }
\end{tabularx}
\end{center}
Les codes ne sont comptés que sur les critères effectivement échoués. Aucun code n'est propagé aux autres critères d'un même item.

\sectiontitle{Ce qu'on peut conclure}
\subsectiontitle{Conclusions suffisamment étayées}
\VAR{ blocks.conclusions_etayees }

\subsectiontitle{Conclusions prudentes}
\VAR{ blocks.conclusions_prudentes }

\subsectiontitle{Limites de l'analyse}
\begin{warningbox}
\VAR{ blocks.limites_analyse }
\end{warningbox}

\BLOCK{ if a.retention.skills }
\sectiontitle{Rétention à vérifier}
\VAR{ a.retention.principe|esc }
\begin{itemize}
\BLOCK{ for s in a.retention.skills }
\item \VAR{ s.label|esc } --- \VAR{ s.status|esc }
\BLOCK{ endfor }
\end{itemize}
\BLOCK{ endif }

\BLOCK{ if a.neutralised }
\sectiontitle{Critères neutralisés}
\begin{itemize}
\BLOCK{ for n in a.neutralised }
\item \VAR{ n.item_ref|esc } --- \VAR{ n.points|esc } pt --- \VAR{ n.raison|esc }
\BLOCK{ endfor }
\end{itemize}
\BLOCK{ endif }

\BLOCK{ if observations }
\sectiontitle{Observations générales de l'enseignant}
\begin{itemize}
\BLOCK{ for o in observations }
\item \textbf{\VAR{ o.label|esc }} : \VAR{ o.value }
\BLOCK{ endfor }
\end{itemize}
\BLOCK{ endif }

\end{document}
